* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@media (min-width: 1000px) {
  .cv {
    display: flex;
    width: 60%;
  }

  .cvMain {
    flex-grow: 1;
  }
}

@media (min-width: 800px) {
  .main {
    display: flex;
  }

  form {
    flex-grow: 1;
    max-inline-size: 40vw;
  }

  .cv {
    flex-grow: 1;
  }
}

.hidden > * {
  visibility: hidden;
}

body {
  font: 100% / 1.414 'Open Sans', 'Roboto', arial, sans-serif;
  background: #e9e9e9;
}

.displayGeneralInfo {
  background: rgba(0, 0, 0, 0.76);
  color: white;
}

header {
  background: crimson;
  color: white;
}

header h1 {
  line-height: 5rem;
  margin: 0 1rem;
  color: white;
}

.displayGeneralInfo {
  text-align: center;
  padding: 2rem;
}

.inputDisplay {
  margin: 0.5rem 0;
}

.addressInfo {
  display: flex;
  justify-content: center;
  gap: 0.1rem;
}

#displayName > * {
  font-weight: bold;
  font-size: 1.5rem;
  text-transform: uppercase;
}

form,
.cv {
  background: #fafafa;
  box-shadow: 0px 0.1875rem 0.4375rem rgb(0 0 0 / 25%);
  margin: 1rem;
}

form {
  min-width: 300px;
}

.cv {
  text-align: center;
  padding: 2rem;
}

.displayEducation,
.displayWork {
  padding: 1rem 0;
}

.cvEducationInfo,
.cvWorkInfo {
  padding-top: 0.5rem;
  border-bottom: 2px black solid;
}

.cvEducationDiv,
.cvWorkDiv {
  border-bottom: 1px grey solid;
  padding: 1rem;
}

.general-info-div {
  margin-bottom: 1rem;
  padding: 2rem 2rem 0 2rem;
}

.education-info-div,
.education-info-div input {
  background: gainsboro;
}

.education-info-div {
  padding: 1rem 2rem;
}

.education-info-div label {
  color: black;
}

.work-info-div,
.work-info-div input {
  background: grey;
}

.work-info-div {
  padding: 1rem 2rem;
}

label {
  font-size: 0.85rem;
  text-transform: uppercase;
  color: #ccc;
}

input,
textarea {
  color: #303030;
  width: 100%;
  border: none;
  border-bottom: 1px #ccc solid;
}

input:focus,
textarea:focus {
  outline: none;
}

.form-control {
  background-color: transparent;
  border-top: 0;
  border-right: 0;
  border-left: 0;
  border-radius: 0;
}

.form-control:focus {
  border-color: #111;
}

.form-buttons-div {
  display: flex;
  justify-content: center;
}

.form-buttons-div > button {
  margin: 0;
  width: 100%;
  font-weight: bold;
  border: none;
  color: black;
  background: lightsalmon;
}

.form-buttons-div > button:hover {
  color: black;
  background: lightgreen;
}

.infoCard {
  padding: 1rem 0;
  border-bottom: black 2px solid;
  margin-bottom: 1rem;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
}

button {
  display: inline-block;
  margin: 6px;
  line-height: 1.42;
  padding: 0.6em 1.8em;
  border-width: 3px;
  border-style: solid;
  background: transparent;
  border-radius: 0;
  cursor: pointer;
  user-select: none;
  vertical-align: bottom;
  position: relative;
  transition: background 0.5s, transform 1s cubic-bezier(0.645, 0.045, 0.355, 1);
  box-sizing: border-box;
  border-color: black;
}

button:hover {
  color: #e6eaef;
  background: black;
}

button:focus {
  outline: none;
}

footer {
  line-height: 2rem;
  background: rgba(0, 0, 0, 0.76);
  display: flex;
  justify-content: center;
}

footer > p {
  color: white;
}
